/** === CSS for GB editor === */

.editor-styles-wrapper {

  .wp-block-unc-card-block {
    border: solid 1px lightgray;

    .card-image-editor-wrapper {
      text-align: center;
      padding: 2rem;
      background: #e0e0e0;
    }

    .card-content-wrapper {
      padding: 0.5rem 2rem;
    }
  }


}
